@model RegisterVM
<div class="login-register-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 pt-5 pt-lg-0">
                <form method="post">
                    <div class="login-form">
                        <h4 class="login-title">Register</h4>
                        <div class="row">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="col-md-6 col-12">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" placeholder="First Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 col-12">
                                <label asp-for="Surname">Surname</label>
                                <input asp-for="Surname" placeholder="Surname" />
                                <span asp-validation-for="Surname" class="text-danger"></span>

                            </div>
                            <div class="col-md-6 col-12">
                                <label asp-for="UserName">UserName</label>
                                <input asp-for="UserName" placeholder="UserName" />
                                <span asp-validation-for="UserName" class="text-danger"></span>

                            </div>
                            <div class="col-md-12">
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" type="email" placeholder="Email Address" />
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                            <div class="col-md-6">
                                <label asp-for="Password">Password</label>
                                <input asp-for="Password" type="password" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>

                            </div>
                            <div class="col-md-6">
                                <label asp-for="ConfirmPassword">Confirm Password</label>
                                <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">
                                    Register
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>